 .projectCard {
    background-color: transparent;
    width: 22rem;
    height: 20rem;
    border: 1px solid #f1f1f1;
    /* perspective: 1000px; Remove this if you don't want the 3D effect */
  }
  
  /* This container positions the front and back sides */
  .cardFlip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }
  
  /* Horizontally rotates card on hover */
  .projectCard:hover .cardFlip {
    transform: rotateY(180deg);
  }
  
  /* Positions the front and back side to enable the rotation */
  .cardFront, .cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Card front styles (with fallback if image is missing) */
  .cardFront {
    background-color: #242424;
    color: #e3e3e3;
  }
  
  /* Card back styles */
  .cardBack {
    background-color: #f1f1f1; /* TODO: root variables accessible from index.css or required in each CSS file? */
    color: #242424;
    transform: rotateY(180deg);
  } 