.about {
    margin-bottom: 4rem;
    padding: 1rem 0;
}

.testimonial-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
}

.testimonial {
    border: 5px solid #28262c;
    width: 21rem;
    margin: 2rem;
    background-color: #e1e1e1;
    box-shadow: 8px 8px 0px 0px #ff3d2f;
    font-family: 'Menlo';
    font-size: 0.8rem;
    padding: 0.8rem;
}

quote {
    display: flex;
}

.quote-l {
    margin: -1.5rem 0.9rem 0 0;
    font-size: 4rem;
    min-width: 2rem;
    max-width: 2rem;
}

.bold {
    font-weight: 700;
    font-size: 2rem;
}

.link-inline {
    font-weight: 700;
    color: #ff3d2f
}