#contact {
    margin-bottom: 4rem;
    padding: 2rem 0;
}

.contact-desc {
    margin: 2rem;
}

.contact-content {
    margin: 2rem;
    display: flex;
    flex-wrap: wrap;
}

.contact-links li {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Menlo';
    font-weight: 700;
    /* border-bottom: 5px #ff3d2f solid; */
}

i {
    margin-left: 1rem;
    color: #ff3d2f;
    font-size: 2.5rem;
}

form {

}