#contact {
    margin-bottom: 4rem;
    padding: 2rem 0;
}

.contact-desc {
    margin: 2rem;
}

.contact-content {
    margin: 2rem;
    /* display: flex;
    flex-wrap: wrap; */
}

.contact-links {
    display: flex;
    justify-content: center;
}
.contact-links li {
    margin: 2rem;
    display: flex;
    align-items: center;
    font-family: 'Menlo';
    font-weight: 700;
    font-size: 0.8rem;
    margin: 1rem;
    padding: 0.5rem;
    width: 8rem;
    color: #e1e1e1;
    background-color: #28262c;
    box-shadow: 5px 5px 0px 0px rgba(255,61,47);
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.contact-links i {
    margin: 0 0.7rem;
    font-size: 1.3rem;
}

.contact-links a {
    color: #e1e1e1;
}