.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
}

.navbar {    
  height: 70px;
  position: relative;
  z-index: 10;
}

.logo-img  {
    width: 4rem;
    margin-left: -1rem;
    margin-right: 1rem;
}

.logo-link {
    display: flex;
    height: auto;
    align-items: center;
}

.button-menu {
    display: none;
}

i {
    font-size: 1.3rem;
}

.nav-list ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list ul .active {
  position: relative;
}

.nav-list ul .active::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ff3d2f;
}

.nav-list li {
    margin: 0 1rem;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}


/** MEDIA QUERIES **/

@media screen and (max-width: 768px) {
    
  .button-menu {
    display: block;
  }

  /* Side menu */
.nav-list {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #e1e1e1;
    width: 0px;
    height: calc(100vh - 70px);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }

  /* Width and border of side menu when visible */
  .nav-list.active {
    width: 60vw;
    /* border-left: 10px #ff3d2f solid; */
    border-left: 10px #242424 solid;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
  }

  .nav-list ul li {
    margin-left: 1.7rem;
    margin-top: 1.9rem;
    font-size: 1.1rem;
    font-weight: 700;
  }
}