.container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
}

.navbar {    
  height: 70px;
  /* background-color: #605cd2; */
  position: relative;
  z-index: 10;
}

.logo-img  {
    width: 5rem;
    margin-left: -1.5rem;
}

.logo-link {
    display: flex;
    height: auto;
    align-items: center;
}

.button-menu {
    display: none;
    background-color: #e1e1e1;
    border: 1px #242424 solid;
}

i {
    font-size: 1.3rem;
}

.nav-list ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.nav-list ul .active {
  position: relative;
}

.nav-list ul .active::after {
  content: '';
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ff6060;
}

.nav-list li {
    margin: 0 1rem;
}


/** MEDIA QUERIES **/

@media screen and (max-width: 768px) {
    
  .button-menu {
    display: block;
  }

  /* Side menu */
.nav-list {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: #e1e1e1;
    width: 0px;
    height: calc(100vh - 70px);
    transition: all 0.2s ease-in-out;
    overflow: hidden;
  }

  /* Width and border of side menu when visible */
  .nav-list.active {
    width: 60vw;
    border-left: 10px #28262c solid;
  }

  .nav-list ul {
    display: flex;
    flex-direction: column;
  }

  .nav-list ul li {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
  }
}



/** VARIABLES **/
/* :root {
    --light1: #f9f5ff;
    --light2: #ecead5; 
    --light3: #f5f5f5;
    --light4: #ebebeb;
    --light5: #e0e0e0;
    --dark1: #242424;
    --dark2: #544e61;
    --dark3: #28262c;
    --dark4: #353535;
    --dark5: #474747;
    --dark6: #525252;
    --dark7: #1f1f1f;
    --highlight1: #37ff8b;
    --highlight2: #51d6ff;
    --highlight3: #fe5f55;
    --muted1: #8d9ec6;
    --muted1: #65524d;
    --muted1: #817e9f;
    --title: "Helvetica";
    --body: "Menlo";
  } */

