/* Section container */
footer {
    width: 90vw;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Menlo';
    color: #ff3d2f;
    padding: 0 1.5rem;
    margin: 0.5rem 1rem;
}

/* Footer text */
footer p {
    font-size: 0.7rem;
}

/* Footer links / icons */
.social-icons {
    display: flex;
    max-width: 10rem;
    justify-content: space-evenly;
}

.social-icons a {
    font-size: 1.5rem;
    color: #ff3d2f;
    margin: 0 1rem;
}

/** MEDIA QUERIES **/
@media screen and (max-width: 768px) {
    footer p {
        margin-left: -1rem
    }
}