/** FONTS **/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:wght@100;200;300;400;500;700;800;900&family=Fjalla+One&family=Lilita+One&family=Quicksand:wght@300;400;500;600;700&family=Rajdhani:wght@300;400;500;600;700&family=Righteous&family=Roboto+Mono:wght@300;400;500;600;700&family=Russo+One&family=Space+Mono:wght@400;700&display=swap');

/** VARIABLES **/
:root {
  --light: #e1e1e1;
  --light1: #cecece;
  --light2: #ecead5; 
  --light3: #f5f5f5;
  --light4: #ebebeb;
  --light5: #e0e0e0;
  --dark: #28262c;
  --dark1: #242424;
  --dark2: #544e61;
  --dark4: #353535;
  --dark5: #474747;
  --dark6: #525252;
  --dark7: #1f1f1f;
  --hl1: #37ff8b;
  --hl2: #51d6ff;
  --hl3: #fe5f55;
  --muted1: #8d9ec6;
  --muted1: #65524d;
  --muted1: #817e9f;
  --heading: "Archivo Black";
  --body: "Quicksand";
  --mono: "Space Mono", "Roboto Mono";
}


/** RESET **/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}


/** STYLES **/
body {
  background-color: var(--light);
  color: var(--dark);
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 0 1rem;
  font-family: var(--body);
}

h2 {
  text-align: right;
  font-family: var(--heading);
  text-transform: uppercase;
  padding: 2rem 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-decoration: underline 5px var(--hl3);
}

h3 {
  font-size: 2rem;
  text-align: left;
  padding: 1rem;
}

a {
  color: var(--dark)
}

p {
  text-align: center;
  margin: 1rem auto;
  font-size: 1.1rem;
}


/** BUTTONS **/
button {
  align-items: center;
  padding: 0.9rem 1.5rem;
}


.button-menu:hover:after {
  transform: translate(0, 0);
}

/* .button {
  background-color: transparent;
  border: 2px var(--dark1) solid;
  padding: 0.7rem 1.3rem;
  border-radius: 5%;
} */

/* ? Skewed button style */
/* .button {
  background-color: #3DD1E7;
  border: 0 solid #242424;
  color: #242424;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 250px;
  position: relative;
  transform: rotate(-2deg);
}

.button:focus {
  outline: 0;
}

.button:after {
  content: '';
  position: absolute;
  border: 2px solid #000000;
  bottom: 5px;
  left: 5px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.button:hover:after {
  bottom: 2px;
  left: 2px;
} */

/* ? Rounded and bold shadow button style */
/* 
.button-menu {
  align-items: center;
  background-color: #e1e1e1;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-menu:after {
  background-color: #242424;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-menu:hover:after {
  transform: translate(0, 0);
} */

.react-icons {
  vertical-align: middle;
}

.highlight {
  background-color: var(--hl3);
  font-weight: 700;
  color: var(--light);
  padding: 0 0.2rem;
}